{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/state-in-constructor": [1, "never"]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint"
}
